@model SmartCalculator.Models.Calc
@{
    ViewData["Title"] = "Home Page";
}
<a asp-action="GetData" asp-controller="Home">Отчет</a>
<form asp-action="Index">

    <div class="text-center">
        <h1 class="display-4">Умный калькулятор</h1>

        <p><label>Первая цифра</label></p>
        <p><input type="number" asp-for="num1" /></p>

        <p><label>Вторая цифра</label></p>
        <p><input type="number" asp-for="num2" /></p>

        <p><input type="submit" value="Сложение" asp-for="oper" /></p>
        <p><input type="submit" value="Вычитание" asp-for="oper" /></p>
        <p><input type="submit" value="Умножение" asp-for="oper" /></p>
        <p><input type="submit" value="Деление" asp-for="oper" /></p>

        <p><label>Результат</label></p>
        <p><input type="text" asp-for="@ViewData["showresult"]" /></p>
    </div>
</form>
